# PyTorch GPU with CUDA 12.4 Support
--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision

# Core Framework & YOLO Requirements
ultralytics
ipykernel

# Image & Video Processing
opencv-python
pillow

# Data Manipulation & Visualization
numpy
pandas
matplotlib
seaborn
scikit-learn

# Utilities
pyyaml
tqdm